<div class="card">
    <a href="/<%= item.id %>/detail" class="item-heading"><%= item.name%></a>
    <% const labels = {stock_amount: 'Stock Amount: ', size: 'Size: ', color: 'Color: ', category: 'Category: '} %>
    <% for (const [key, value] of Object.entries(item)) {%>
        <% if (value && !['name', 'id', 'category_id'].includes(key)) {%>
            <div class="data"><%= `${labels[key]} ${key != 'size' ? value : value.toLocaleUpperCase() }` %></div>
        <% } %>
    <% } %>
    <div class="buttons-div">
        <a href="<%= route %>/<%= item.id %>/update" id="update-btn" class="update-btn">Update</a>
        <form action="<%= route %>/<%= item.id %>/delete" method="POST">
            <button type="submit" class="delete-btn">Delete</button>
        </form>
    </div>
</div>