<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <div class="filter-div">
        <form action="/" method="POST">
            <input type="text" name="search" id="search-bar">
            <button type="submit">Search</button>
        </form>
        <form action="/" method="POST">
            <select name="category" id="category-bar">
                <% categories.forEach(cat => { %>
                    <option value="<%= cat.name %>"><%= cat.name %></option>
                <%= }) %>
            </select>
        </form>
    </div>
    <% products.forEach(prod => { %>
        <!-- WIP - waiting for clearer picture of card.ejs implementation -->
        <%- include("./partials/card.ejs", { name: prod.name, }) %>
    <% }) %>
    <a href="/create">Create New</a>
</body>
</html>