<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <%- include("./partials/navbar.ejs") %>
    <h1><%= title %></h1>
    <form action="/categories/<%= category.id %>/update" method="POST">
        <label for="name">Name: </label>
        <input type="text" id="name" name="name" value="<%= category.name %>">
        <input type="text" name="id" value="<%= category.id %>" hidden>
        <button type="submit">Update</button>
    </form>
</body>
</html>